.crm-container {
  border: 2px solid $light;
  padding: 1.75rem;
}

.crm-form-text,
.crm-form-textarea {
  display: block;
  width: 100%;
  height: 3.2rem;
  padding: 0.375rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $black_15;
  border-radius: 3rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 0.5rem;
  outline: none;
  &:focus {
    border-color: $primary;
    outline: none;
  }
}

.crm-form-textarea {
  height: 6rem;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
}

.crm-section {
  &.payment_processor-section > .content > label:last-child {
    margin-top: -1.25rem !important;
  }
  &.section-pricesetTotal {
    padding: 1.75rem 0;
  }
  &.cividiscount {
    padding: 0 0 1.75rem;
  }
  label {
    display: block;
    padding: 0 0 0 1rem;
    color: $secondary;
  }
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    + label {
      color: $dark;
      padding: 0;
      position: relative;
      padding: 0 0 0 2.5rem;
      &:before {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        border: 2px solid $grey_light;
        border-radius: 50%;
        left: 1rem;
        top: 0.25rem;
      }
    }
    &:checked {
      + label {
        &:before {
          border-color: $secondary;
          background: $secondary;
          box-shadow: inset 0 0 0 3px $white;
        }
      }
    }
  }
}
.crm-public-footer,
.civi-mobile-popup-wrap {
  display: none !important;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.crm-section button,
.crm-submit-buttons button {
  display: inline-block;
  font-family: "Recoleta", sans-serif;
  font-weight: 500;
  color: $black;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.75rem 1.75rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: 3rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: $secondary;
  color: $white;
  &:hover {
    color: $white;
    background-color: $primary;
  }
  i {
    display: none;
  }
}

.crm-public h1 {
  font-size: 2.75rem;
}
