.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  @include transition;
  &.menuactive {
    position: fixed;
  }
  &__row {
    padding: 0.5rem 0;
    height: 5rem;
  }
  &__toggle {
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    position: relative;
    &:hover {
      span {
        background: $primary;
      }
    }
    span {
      position: absolute;
      right: 0;
      height: 2px;
      background: $white;
      border-radius: 5px;
    }
    .toggle {
      &__1 {
        width: 100%;
        top: 12%;
      }
      &__2 {
        width: 70%;
        top: 50%;
        transform: translateY(-1px);
      }
      &__3 {
        width: 40%;
        bottom: 12%;
      }
    }
    &.menuactive {
      .toggle {
        &__1 {
          transform: rotate(45deg) translateY(-50%);
          top: 50%;
        }
        &__2 {
          opacity: 0;
        }
        &__3 {
          width: 100%;
          bottom: auto;
          transform: rotate(-45deg) translateY(-50%);
          top: 50%;
        }
      }
    }
  }
}

.mainmenu {
  position: fixed;
  z-index: 998;
  width: 100%;
  top: 5rem;
  left: 0;
  background: $dark;
  transform: scale(0.95) translateY(-3rem);
  opacity: 0;
  visibility: hidden;
  &.menuactive {
    transform: scale(1) translateY(0);
    opacity: 1;
    visibility: visible;
    @include transition;
    .mainmenu {
      &__bg {
        transform: scaleY(1);
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5rem;
    width: 100%;
    background: $dark;
    height: 5rem;
  }
  &__inn {
    overflow-y: auto;
    height: calc(100vh - 5rem);
    padding-top: 2rem;
    padding-bottom: 4rem;
    position: relative;
  }
  &__bg {
    position: relative;
    width: 100%;
    height: 4rem;
    z-index: 6;
    margin-bottom: -4rem;
    background-image: url(../images/menu-curve.svg);
    background-position: top center;
    background-repeat: repeat-x;
    transform: scaleY(0);
    @include transition;
    transform-origin: bottom center;
    transition-delay: 0.3s;
  }
  &__row {
    height: 100%;
  }
  &__list {
    list-style: none;
    padding: 0 0 1.75rem;
    margin: 0 0 1.75rem;
    flex-wrap: wrap;
    display: flex;
    font-weight: 500;
    font-family: "Recoleta", sans-serif;
    &:before {
      width: 80%;
      content: "";
      left: 10%;
      height: 0;
      position: absolute;
      bottom: 1.75rem;
      border-bottom: 2px dashed $white;
    }
    li {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      font-size: 1.25rem;
      line-height: 1.3;
      padding: 0.5rem 0;
      &.active {
        a {
          color: $white;
        }
      }
      a {
        display: block;
        color: $primary;
        &:hover {
          color: $white;
        }
      }
    }
  }
  .container {
    min-height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }
}

body {
  &.menuactive {
    overflow: hidden;
  }
}

@include media-breakpoint-up(md) {
  .mainmenu {
    &__list {
      li {
        flex: 0 0 50%;
        max-width: 50%;
        font-size: 1.35rem;
        padding: 0.5rem 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .header {
    &__row {
      padding: 2rem 3.5rem;
      height: 8.875rem;
    }
    &__toggle {
      width: 2.45rem;
      height: 2.45rem;
    }
  }

  .mainmenu {
    top: 8.875rem;
    &:before {
      top: -8.875rem;
      height: 8.875rem;
    }
    &__inn {
      height: calc(100vh - 8.875rem);
      padding-top: 3rem;
    }
    &__list {
      padding: 0 0 2rem;
      margin: 0 0 2rem;
      &:after {
        position: absolute;
        width: 50%;
        background-image: url(../images/capital-bike.png);
        right: -50%;
        height: calc(100% - 2.5rem);
        top: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        content: "";
      }
      &:before {
        bottom: 2rem;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .mainmenu {
    &__list {
      padding: 0 0 2.5rem;
      margin: 0 0 2.5rem;
      &:before {
        bottom: 2.5rem;
      }
      li {
        font-size: 1.65rem;
        padding: 0.75rem 0;
      }
    }
  }
}
