.banner {
  background-color: $dark;
  position: relative;
  p {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }
  &__row {
    padding-top: 7rem;
    padding-bottom: 8rem;
    position: relative;
    z-index: 3;
    align-items: center;
  }
  &-full {
    min-height: 100vh;
  }
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
    background-image: url(../images/overlay.svg);
    background-position: 0 102%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.eventsec {
  &__left {
    padding: 4rem 15px;
  }
  &__leftinn {
    max-width: 26rem;
    width: 100%;
    display: block;
    height: 100%;
    position: relative;
    margin: 0 auto;
  }
  &__slider {
    z-index: 3;
  }
  &__slideimg {
    overflow: hidden;
    border-radius: 3rem;
    img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
    }
  }
  .slick-dots {
    margin: 1rem 0 0;
  }
}

.clouddesign {
  position: relative;
  z-index: 3;
  padding: 10rem 0;
  margin-top: -8rem;
  &__cont {
    max-width: 40rem;
    position: relative;
    z-index: 5;
    text-align: center;
    margin: 0 auto;
  }
  &__img {
    position: absolute;
    left: 50%;
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      max-width: none;
      width: calc(100% + 5rem);
      margin: 0 -2.5rem;
      max-height: 60rem;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

.brands__slider {
  padding: 2rem;
  .slick-track {
    display: flex;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  .slick-prev {
    left: -8px;
  }
  .slick-next {
    right: -8px;
  }
  .slick-slide {
    float: none;
    align-items: center;
    height: auto;
    padding: 1rem;
  }
  &.slick-initialized {
    .slick-slide {
      display: flex !important;
    }
  }
}

.newsletter {
  position: relative;
  overflow: hidden;
  .container {
    position: relative;
    z-index: 3;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/newsletter.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    opacity: 0.15;
  }
  .form-control {
    margin-bottom: 0.5rem;
  }
  .btn {
    margin-top: 1rem;
  }
}

.instasec {
  h3 {
    margin-top: 0.35rem;
    a {
      &:hover {
        color: $secondary;
      }
    }
  }
  .container-fluid {
    width: calc(100% - 2px);
    padding: 0;
  }
  &__slide {
    padding: 1rem 1px 2px;
    float: none;
    height: auto;
    a {
      display: block;
      overflow: hidden;
      height: 100%;
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .slick {
    &-prev,
    &-next {
      background-color: $white;
      background-size: 1.15rem;
      border: 2px solid $primary;
      border-radius: 5rem;
      width: 2.5rem;
      height: 2.5rem;
      &:hover,
      &:focus {
        background-color: $white;
      }
    }
    &-prev {
      left: 4%;
    }
    &-next {
      right: 4%;
    }
    &-initialized {
      .slick-slide {
        display: flex !important;
      }
    }
    &-track {
      display: flex;
    }
  }
}

.footer {
  padding: 2rem 0;
  position: relative;
  z-index: 5;
  margin: 1rem 0 0;
  &:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 4rem;
    background-image: url(../images/footer-overlay.svg);
    background-repeat: repeat-x;
    background-position: top;
    background-size: 44rem;
    display: block;
    left: 0;
    top: -3.75rem;
  }
  &__logo {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 3rem;
  }
  &__btm {
    text-align: center;
    padding: 0.75rem 15px;
    font-weight: 500;
    font-family: "Recoleta", sans-serif;
    a {
      &:hover {
        color: inherit;
        opacity: 0.5;
      }
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}

.shortcode__widget {
  h3 {
    margin-bottom: 1.25rem;
  }
  ul {
    list-style: none;
    padding: 0 0 2rem;
    margin: 0;
  }
  li {
    padding: 0.2rem 0;
    &.hasimg {
      a {
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding-left: 1.5rem;
        img {
          position: absolute;
          left: 0;
          top: 0.3rem;
          height: 1rem;
          width: 1rem;
        }
      }
    }
    a {
      &:hover {
        color: $secondary;
      }
    }
  }
}

.pagebanner {
  position: relative;
  overflow: hidden;
  background-color: $dark;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
      background: $dark;
      opacity: 0.68;
    }
    &.cloud2 {
      &:before {
        opacity: 0.32;
      }
    }
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .container {
    position: relative;
    z-index: 5;
  }
  &__row {
    padding-top: 7rem;
    padding-bottom: 8rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  &.cloud2 {
    &:after {
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom center;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg width='1366' height='323' fill='#{svg-color($darklight)}' xmlns='http://www.w3.org/2000/svg'><path d='M1366 0v322.5H0V1.65c15.88 11.3 32.52 22.57 45.47 37.23 25.73 29.14 37.13 82.65 71.65 107.54 31.07 22.42 79.79 13.05 116.96 31.36 34.17 16.84 60.23 63.72 98.77 76.6 36.06 12.06 81-10.75 120.25-2.56 37.21 7.77 71.59 47.42 111.14 51.37 37.87 3.79 78.06-28.22 117.6-28.22 39.54 0 79.72 32.02 117.6 28.22 39.55-3.96 73.92-43.6 111.13-51.37 39.25-8.19 84.2 14.62 120.25 2.56 38.54-12.88 64.61-59.76 98.77-76.6 37.18-18.31 85.9-8.94 116.97-31.36 34.51-24.89 45.91-78.39 71.64-107.54C1331.78 23.5 1349.43 11.86 1366 0z' /></svg>");
    }
  }
  &.cloud1 {
    &:after {
      height: 3rem;
      background-repeat: repeat-x;
      background-position: top center;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='1366' height='128.87'><path data-name='Path 1676' d='M1366 0c-56.92 0-56.92 27.83-113.84 27.83S1195.24 0 1138.32 0s-56.917 27.83-113.834 27.83S967.57 0 910.655 0s-56.917 27.83-113.833 27.83S739.906 0 682.99 0s-56.917 27.83-113.833 27.83S512.243 0 455.328 0s-56.916 27.83-113.832 27.83S284.58 0 227.664 0s-56.916 27.83-113.832 27.83S56.916 0 0 0v128.87h1366z' fill='#{svg-color($light)}'/></svg>");
    }
    &.white {
      &:after {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='1366' height='128.87'><path data-name='Path 1676' d='M1366 0c-56.92 0-56.92 27.83-113.84 27.83S1195.24 0 1138.32 0s-56.917 27.83-113.834 27.83S967.57 0 910.655 0s-56.917 27.83-113.833 27.83S739.906 0 682.99 0s-56.917 27.83-113.833 27.83S512.243 0 455.328 0s-56.916 27.83-113.832 27.83S284.58 0 227.664 0s-56.916 27.83-113.832 27.83S56.916 0 0 0v128.87h1366z' fill='#{svg-color($white)}'/></svg>");
      }
    }
    &.yellow {
      &:after {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='1366' height='128.87'><path data-name='Path 1676' d='M1366 0c-56.92 0-56.92 27.83-113.84 27.83S1195.24 0 1138.32 0s-56.917 27.83-113.834 27.83S967.57 0 910.655 0s-56.917 27.83-113.833 27.83S739.906 0 682.99 0s-56.917 27.83-113.833 27.83S512.243 0 455.328 0s-56.916 27.83-113.832 27.83S284.58 0 227.664 0s-56.916 27.83-113.832 27.83S56.916 0 0 0v128.87h1366z' fill='#{svg-color($primary)}'/></svg>");
      }
    }
    &.red {
      &:after {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='1366' height='128.87'><path data-name='Path 1676' d='M1366 0c-56.92 0-56.92 27.83-113.84 27.83S1195.24 0 1138.32 0s-56.917 27.83-113.834 27.83S967.57 0 910.655 0s-56.917 27.83-113.833 27.83S739.906 0 682.99 0s-56.917 27.83-113.833 27.83S512.243 0 455.328 0s-56.916 27.83-113.832 27.83S284.58 0 227.664 0s-56.916 27.83-113.832 27.83S56.916 0 0 0v128.87h1366z' fill='#{svg-color($secondary)}'/></svg>");
      }
    }
    &.blue {
      &:after {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='1366' height='128.87'><path data-name='Path 1676' d='M1366 0c-56.92 0-56.92 27.83-113.84 27.83S1195.24 0 1138.32 0s-56.917 27.83-113.834 27.83S967.57 0 910.655 0s-56.917 27.83-113.833 27.83S739.906 0 682.99 0s-56.917 27.83-113.833 27.83S512.243 0 455.328 0s-56.916 27.83-113.832 27.83S284.58 0 227.664 0s-56.916 27.83-113.832 27.83S56.916 0 0 0v128.87h1366z' fill='#{svg-color($dark)}'/></svg>");
      }
    }
  }
  &__down {
    display: inline-block;
    margin: 0;
    padding: 0.5rem;
    &:hover {
      svg {
        fill: $secondary;
      }
    }
    svg {
      fill: $primary;
      width: 2.25rem;
      height: 2.25rem;
      display: block;
    }
  }
}

.contslider {
  overflow: hidden;
  &__slide {
    img {
      display: block;
      width: 100%;
      border-radius: 3rem;
    }
  }
  .slick-dots {
    margin: 1rem 0 0;
  }
}

.teamarea {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -2.75rem;
    width: 100%;
    height: 3rem;
    background-image: url("../images/teamarea-overlay.svg");
    background-position: top center;
    background-repeat: repeat-x;
  }
  &__slide {
    padding: 0 2rem;
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    h4 {
      font-size: 1.25rem;
      margin: 0.35rem 0 1rem;
    }
  }
  &__img {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    background-color: $white;
    margin: 4px auto 1.15rem;
    box-shadow: inset 0 1px 0 0 $darklight;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 206.999 206.999'><path fill='#{svg-color($darklight)}' d='M-3115.5,206.5h-206V.5h206v206Zm-102.763-6.247.024,0,.026,0A22.553,22.553,0,0,0-3206.5,197a28.757,28.757,0,0,0,8.808-8.429,60.946,60.946,0,0,1,10.412-12.157,49.384,49.384,0,0,1,14.828-8.641,49.149,49.149,0,0,1,8.348-2.273,50.592,50.592,0,0,1,7.182-.583,39.541,39.541,0,0,0,9.027-1,23.072,23.072,0,0,0,6.988-3.241,23.943,23.943,0,0,0,5.5-5.227,23.936,23.936,0,0,0,3.6-6.677,23.065,23.065,0,0,0,1.291-7.592,23.605,23.605,0,0,0-2.633-10.822,23.024,23.024,0,0,0-1.871-3.038,48.942,48.942,0,0,1-6.36-24.168.1.1,0,0,1,0-.016.081.081,0,0,0,0-.013h.126V103.1a48.949,48.949,0,0,1,6.357-24.169,22.845,22.845,0,0,0,1.871-3.036,23.6,23.6,0,0,0,2.632-10.823,23.065,23.065,0,0,0-1.291-7.592,23.939,23.939,0,0,0-3.6-6.677,23.942,23.942,0,0,0-5.5-5.227,23.066,23.066,0,0,0-6.987-3.241,39.528,39.528,0,0,0-9.028-1,50.6,50.6,0,0,1-7.181-.583,49.223,49.223,0,0,1-8.348-2.269,49.47,49.47,0,0,1-14.828-8.644,60.879,60.879,0,0,1-10.412-12.157,28.751,28.751,0,0,0-8.808-8.429A22.553,22.553,0,0,0-3218.087,6h-.094a22.561,22.561,0,0,0-11.712,3.254,28.741,28.741,0,0,0-8.808,8.429,60.9,60.9,0,0,1-10.413,12.157,49.455,49.455,0,0,1-14.827,8.644,49.245,49.245,0,0,1-8.348,2.269,50.592,50.592,0,0,1-7.18.583,39.54,39.54,0,0,0-9.03,1,23.07,23.07,0,0,0-6.988,3.241,23.94,23.94,0,0,0-5.5,5.227,23.933,23.933,0,0,0-3.6,6.677,23.065,23.065,0,0,0-1.291,7.592,23.614,23.614,0,0,0,2.632,10.823,22.95,22.95,0,0,0,1.871,3.036,48.94,48.94,0,0,1,6.36,24.169.112.112,0,0,1,0,.016c0,.007,0,.012,0,.016h-.126a.074.074,0,0,0,0,.013.105.105,0,0,1,0,.016,48.941,48.941,0,0,1-6.359,24.168,23.031,23.031,0,0,0-1.871,3.038A23.6,23.6,0,0,0-3306,141.186a23.065,23.065,0,0,0,1.291,7.592,23.933,23.933,0,0,0,3.6,6.677,23.943,23.943,0,0,0,5.5,5.227,23.073,23.073,0,0,0,6.988,3.241,39.551,39.551,0,0,0,9.028,1,50.592,50.592,0,0,1,7.182.583,49.17,49.17,0,0,1,8.348,2.273,49.4,49.4,0,0,1,14.828,8.641,60.942,60.942,0,0,1,10.412,12.157,28.748,28.748,0,0,0,8.808,8.429,22.553,22.553,0,0,0,11.709,3.254l.026,0Z' transform='translate(3322 0)' stroke='#{svg-color($darklight)}' stroke-width='1' /></svg>");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 5;
      box-shadow: inset 0 0 0 2px $darklight, 0 0 0 2px $darklight;
    }
    img {
      display: block;
      margin: 0 auto;
      position: relative;
      z-index: 3;
    }
  }
  .slick {
    &-prev,
    &-next {
      background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='#{svg-color($white)}' xmlns='http://www.w3.org/2000/svg'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
      top: 7rem;
    }
    &-prev {
      left: -15px;
    }
    &-next {
      right: -15px;
    }
  }
}

.aboutsec {
  position: relative;
  overflow: hidden;
  padding-bottom: 10%;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url("../images/about-us-overlay.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .container {
    position: relative;
    z-index: 5;
  }
}

.contactarea {
  &__form {
    padding-top: 2rem;
  }
}

.post {
  &__thumb {
    a {
      &:hover {
        color: $secondary;
        h2 {
          @include transition;
          color: $secondary;
        }
        .post__thumbimg {
          img {
            transform: scale(1.35) rotate(-5deg);
          }
        }
      }
    }
    &.even {
      a {
        &:hover {
          color: $primary;
          h2 {
            color: $primary;
          }
        }
      }
      .post {
        &__thumbimg {
          margin: 2rem 0;
        }
        &__thumbcont {
          padding-bottom: 2rem;
        }
      }
      + .container {
        padding-top: 3rem;
      }
    }
  }
  &__thumbimg {
    margin: 0 0 2rem;
    border-radius: 3rem;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }
  &__social {
    list-style: none;
    display: inline-flex;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    li {
      padding: 0.15rem;
    }
    a {
      display: flex;
      width: 3rem;
      height: 3rem;
      align-items: center;
      justify-content: center;
      border: 2px solid transparent;
      border-radius: 50%;
      &:hover {
        background: $white;
        border-color: $secondary;
      }
      svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: $secondary;
      }
    }
  }
  &-navigation {
    display: inline-flex;
    vertical-align: middle;
    .nav {
      &-links {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          display: flex;
          width: 4.5rem;
          height: 2.25rem;
          align-items: center;
          justify-content: center;
          background-color: $secondary;
          border-radius: 2rem;
          border: 2px solid transparent;
          &:hover {
            background-color: $white;
            border-color: $secondary;
            svg {
              fill: $secondary;
            }
          }
          svg {
            width: 1.25rem;
            height: 1.25rem;
            fill: $white;
          }
        }
      }
      &-previous {
        margin-right: 0.25rem;
      }
      &-next {
        margin-left: 0.25rem;
      }
    }
  }
  &__main {
    padding: 3rem 0;
    border-top: 2px solid $black_30;
    border-bottom: 2px solid $black_30;
    margin-top: 1rem;
    margin-bottom: 1rem;
    img {
      margin: 2rem auto;
      border-radius: 2rem;
      display: block;
    }
    blockquote {
      padding-left: 1.25rem;
      border-left: 0.3rem solid $secondary;
      :last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .eventsec {
    &__right {
      text-align: center;
      padding-bottom: 12rem;
      > * {
        max-width: 26rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .contslider {
    color: $white;
    &__leftinn {
      &:before {
        content: "";
        bottom: 0;
        left: -50vw;
        width: 150vw;
        background: $darklight;
        height: 100%;
        position: absolute;
        z-index: -1;
      }
    }
  }
}

@include media-breakpoint-only(sm) {
  .contslider {
    &__right,
    &__left {
      width: #{map-get($container-max-sizes, sm)};
      margin: 0 auto;
    }
  }
}

@include media-breakpoint-only(md) {
  .eventsec,
  .contslider {
    &__right,
    &__left {
      width: #{map-get($container-max-sizes, md)};
      margin: 0 auto;
    }
  }

  .clouddesign {
    padding: 14rem 0;
  }
}

@include media-breakpoint-up(md) {
  .banner {
    &__row {
      padding-top: 12rem;
      padding-bottom: 15rem;
    }
  }
  .newsletter {
    &:before {
      opacity: 1;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, $dark 50%, transparent, transparent);
    }
  }

  .post {
    &__thumb {
      &.odd {
        .post {
          &__thumbimg {
            margin-right: 2rem;
          }
          &__thumbcont {
            padding-left: 2rem;
          }
        }
      }
      &.even {
        .post {
          &__thumbimg {
            margin-left: 2rem;
          }
          &__thumbcont {
            padding-right: 2rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .banner {
    p {
      margin-left: 0;
      margin-right: 0;
    }
    &__side {
      position: absolute;
      width: 46%;
      max-height: 40rem;
      right: 0;
      height: calc(100vh - 4rem);
      top: calc(50% + 3rem);
      transform: translateY(-50%);
      background-position: 112% center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 2;
    }
  }

  .eventsec {
    &__right {
      padding-right: calc(
        100% - ((100% + #{map-get($container-max-sizes, lg)}) / 2) + 15px
      );
      padding-bottom: 0;
      margin-top: 3%;
      text-align: left;
    }
    &__left {
      padding-bottom: 30%;
      padding-top: 0;
    }
    &__leftinn {
      max-width: 38.25rem;
      margin: 0;
      display: inline-block;
      &:before {
        content: "";
        position: absolute;
        right: calc(50% + 5%);
        width: 50vw;
        height: calc(100% + 30rem);
        top: 0;
        background: $dark;
        z-index: 0;
      }
    }
    &__slider {
      margin: calc(-4% - 3rem) 0 0 calc(-5% - 2rem);
    }
    &__slideimg {
      transform: rotate(-45deg);
      overflow: hidden;
      border-radius: 3rem;
      margin: 16%;
      max-width: 68%;
      img {
        transform: rotate(45deg) scale(1.4);
      }
    }
    .slick-dots {
      margin: 0;
      position: absolute;
      right: -2rem;
      top: 50%;
      transform: translateY(-50%);
      li {
        display: block;
        margin: 0.35rem 0;
      }
    }
  }

  .newsletter {
    &:after {
      background: linear-gradient(45deg, $dark 38%, transparent, transparent);
    }
  }

  .instasec {
    .slick {
      &-prev,
      &-next {
        border-width: 3px;
        width: 3rem;
        height: 3rem;
        background-size: 1.35rem;
      }
    }
  }

  .clouddesign {
    padding: 22rem 0;
    margin-top: -36%;
    &__img {
      img {
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }

  .footer {
    padding: 5rem 0;
    &:before {
      height: 5rem;
      background-size: auto;
      top: -4.75rem;
    }
  }

  .pagebanner {
    &__row {
      padding-top: 10rem;
      padding-bottom: 12rem;
    }
  }

  .contslider {
    &__rightinn {
      max-width: 42rem;
      padding-left: 4rem;
    }
    &__left {
      padding-left: calc(
        100% - ((100% + #{map-get($container-max-sizes, lg)}) / 2) + 15px
      );
    }
    &__leftinn {
      position: relative;
      padding-bottom: 3rem;
      margin-bottom: 1rem;
      &:before {
        content: "";
        bottom: 0;
        left: -50vw;
        width: 150vw;
        background: $darklight;
        height: 200%;
        position: absolute;
        z-index: -1;
      }
    }
    &__right {
      padding-right: 0;
      margin-right: -3rem;
    }

    .slick-dots {
      margin: 0;
      position: absolute;
      left: -2rem;
      top: 50%;
      transform: translateY(-50%);
      li {
        display: block;
        margin: 0.35rem 0;
      }
    }
  }

  .contactarea {
    &__form {
      padding-top: 4rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .eventsec {
    &__right {
      padding-right: calc(
        100% - ((100% + #{map-get($container-max-sizes, xl)}) / 2) + 15px
      );
    }
    &__left {
      padding-bottom: 30rem;
    }
  }

  .clouddesign {
    margin-top: -30rem;
  }

  .contslider {
    &__left {
      padding-left: calc(
        100% - ((100% + #{map-get($container-max-sizes, xl)}) / 2) + 15px
      );
    }
  }
}
