.banner {
  background-color: $dark;
  position: relative;
  p {
    max-width: 26rem;
  }
  &__row {
    padding-top: 7rem;
    padding-bottom: 15rem;
    position: relative;
    z-index: 3;
    align-items: center;
  }
  &-full {
    min-height: calc(100vh - 8.875rem);
  }
  &__side {
    position: absolute;
    width: 46%;
    height: 100%;
    max-height: 40rem;
    background-image: url(../images/capital-bike.png);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-position: 112% center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
    background-image: url(../images/overlay.svg);
    background-position: 0 102%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.eventsec {
  &__leftinn {
    max-width: 45rem;
    width: 100%;
    display: inline-block;
    height: 100%;
    position: relative;
  }
  &__slider {
    z-index: 3;
    margin: calc(-4% - 3rem) 0 0 calc(-5% - 2rem);
  }
  &__slideimg {
    transform: rotate(-45deg);
    overflow: hidden;
    border-radius: 3rem;
    margin: 16%;
    max-width: 68%;
    img {
      transform: rotate(45deg) scale(1.4);
      overflow: hidden;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
    }
  }
  .slick-dots {
    position: absolute;
    right: -2rem;
    top: 50%;
    transform: translateY(-50%);
    li {
      display: block;
      margin: 0.35rem 0;
    }
  }
}

.clouddesign {
  position: relative;
  padding: 22rem 0;
  margin-top: -36%;
  z-index: 3;
  &__cont {
    max-width: 40rem;
    position: relative;
    z-index: 5;
    text-align: center;
    margin: 0 auto;
  }
  &__img {
    position: absolute;
    left: 50%;
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      max-width: none;
      width: calc(100% + 5rem);
      margin: 0 -2.5rem;
      max-height: 60rem;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }
}

@include media-breakpoint-only(md) {
  .eventsec {
    &__right,
    &__left {
      width: #{map-get($container-max-sizes, md)};
    }
  }
}

@include media-breakpoint-up(lg) {
  .eventsec {
    &__right {
      padding-right: calc(
        100% - ((100% + #{map-get($container-max-sizes, lg)}) / 2) + 15px
      );
    }
    &__left {
      padding-bottom: 30%;
    }
    &__leftinn {
      &:before {
        content: "";
        position: absolute;
        right: calc(50% + 5%);
        width: 50vw;
        height: calc(100% + 30rem);
        top: 0;
        background: $dark;
        z-index: 0;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .eventsec {
    &__right {
      padding-right: calc(
        100% - ((100% + #{map-get($container-max-sizes, xl)}) / 2) + 15px
      );
    }
    &__left {
      padding-bottom: 30rem;
    }
  }

  .clouddesign {
    margin-top: -30rem;
  }
}
