$primary: #f7bf15;
$secondary: #f0585a;
$dark: #042437;
$darklight: #1e3160;
$white: #fff !default;
$light: #f8ebe0;
$grey_light: #ccc;
$grey: #707070;
$black: #042437 !default;
$black_90: rgba($black, 0.9);
$black_15: rgba($black, 0.15);
$black_20: rgba($black, 0.2);
$black_5: rgba($black, 0.05);

$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-family-sans-serif: "Pangram", sans-serif;
$headings-font-weight: 500 !default;
$headings-font-family: "Recoleta", sans-serif;
$headings-color: $dark;
$headings-margin-bottom: 1rem;
$h1-font-size: $font-size-base * 2.65 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.25 !default;

$btn-padding-y: 0.625rem;
$btn-padding-x: 1.75rem;
$btn-font-weight: 500;
$btn-font-size: 1rem;
$btn-font-family: "Recoleta", sans-serif;
$btn-line-height: 1;
$border-radius: 3rem;
$btn-border-width: 2px;
$btn-padding-y-sm: 0.5rem !default;
$btn-padding-x-sm: 1.25rem !default;
$btn-border-radius-sm: 3rem !default;
$btn-border-radius-lg: 3rem !default;
$btn-focus-width: 0;

$link-color: inherit;
$link-hover-color: $primary;
$link-hover-decoration: none;

$input-border-color: $black_15;
$input-border-radius: 3rem;
$input-border-width: 1px;
$input-padding-x: 1.5rem;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-focus-border-color: $primary;
$input-height: 3.2rem;

// Spacers
$spacer: 1rem;
$spacers: (
  5: (
    $spacer * 3.375
  ),
  6: (
    $spacer * 4
  )
);

// Container Max Widths
$container-max-sizes: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
